<div class="card">
	<div class="card-header">
		<app-todo-form></app-todo-form>
	</div>
	<div class="card-body">
		<div class="text-right mb-3">
			<button placement="top" ngbTooltip="Supprimer toutes le tâches" [disabled]="nbTask == 0" (click)="onDelAll()" class="btn btn-danger mb-2">Supprimer toutes las tâches</button>
		</div>
		<div *ngIf="nbTask > 1" class="row mb-3 border d-flex align-items-center justify-content-around bg-dark text-light">
			<span [ngSwitch]="sortDateBool">
				<div placement="top" ngbTooltip="Trier par date" (click)="sortByDate()" class="todoSort">Date <span *ngSwitchCase="null"><fa name="sort"></fa></span><span *ngSwitchCase="true"> <fa name="sort-up"></fa></span><span *ngSwitchCase="false"><fa name="sort-down"></fa></span></div>
			</span>
			<span [ngSwitch]="sortTextBool">
				<div placement="top" ngbTooltip="Trier par tâche" (click)="sortByText()" class="todoSort">Tâche <span *ngSwitchCase="null"><fa name="sort"></fa></span><span *ngSwitchCase="true"><fa name="sort-up"></fa></span><span *ngSwitchCase="false"><fa name="sort-down"></fa></span></div>
			</span>
			<span [ngSwitch]="sortDescBool">
				<div placement="top" ngbTooltip="Trier par description" (click)="sortByDesc()" class="todoSort">Description <span *ngSwitchCase="null"><fa name="sort"></fa></span><span *ngSwitchCase="true"><fa name="sort-up"></fa></span><span *ngSwitchCase="false"><fa name="sort-down"></fa></span></div>
			</span>
			<span [ngSwitch]="sortDoneBool">
				<div placement="top" ngbTooltip="Trier par état" (click)="sortByDone()" class="todoSort">Etat <span *ngSwitchCase="null"><fa name="sort"></fa></span><span *ngSwitchCase="true"><fa name="sort-up"></fa></span><span *ngSwitchCase="false"><fa name="sort-down"></fa></span></div>
			</span>
		</div>
		<div @fade class="list-group">
			<form #form="ngForm" autocomplete="off">
				<ul *ngIf="todoList" class="list-group list-group-flush">
					<div [ngStyle]="{textDecoration: todo.done === true ? 'line-through' : ''}" *ngFor="let todo of todoList; index as i" >
						<input name="id" #id="ngModel" [(ngModel)]="service.todoForm.id" type="hidden">
						<li class="list-group-item list-group-item-action">
							<div class="row">
								<input (keydown.enter)="onEditName(todo)" name="text" #text="ngModel" *ngIf="editTodoBool == true && editTodo == todo.id; else elseBlock1" class="h4 textUnder" [(ngModel)]="todo.text" type="text">
								<ng-template #elseBlock1> <span (dblclick)="onEditName(todo)" class="h4">{{todo.text | capitalize}}</span> </ng-template>
								<span *ngIf="editTodoBool == true && editTodo == todo.id" class="h4"></span>
							</div> 
							<div class="row d-flex justify-content-between">
								<input (keydown.enter)="onEditName(todo)" name="description" #description="ngModel" *ngIf="editTodoBool == true && editTodo == todo.id; else elseBlock2" class="h5 text-muted col-5 descUnder" [(ngModel)]="todo.description" type="text">
								<ng-template #elseBlock2> <span (dblclick)="onEditName(todo)" class="h6 text-muted col-5">{{todo.description | lowercase}}</span> </ng-template>
								<span *ngIf="editTodoBool == true && editTodo == todo.id" class="h6 col-5 descOn"></span>
								<fa (click)="onEditName(todo)" placement="left" ngbTooltip="Editer" name="edit" size="2x" class="mr-3"></fa>
								<fa (click)="onDelTodo(todo)" placement="top" ngbTooltip="Supprimer" class="mr-3 text-danger" name="trash-alt" size="2x"></fa> 
								<fa (click)="onChangeStatus(todo)" placement="top" ngbTooltip="Achevée" [ngClass]="{'text-dark': todo.done === false, 'text-success': todo.done === true}" class="mr-5" name="check" size="2x"></fa>
							</div>
							<div class="col-12">Créée le : <span class="">{{todo.date | date: 'fullDate' : '' : 'fr-FR'}} à {{todo.date | date: 'shortTime' : '' : 'fr-FR'}}</span></div>
						</li>
					</div>
				</ul>
			</form>
		</div>
	</div>
</div>