@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-green);
$my-theme-accent: mat-palette($mat-red, 900, 800, 400);
$my-theme-warn: mat-palette($mat-yellow);
$my-theme-foreground: mat-palette($mat-blue-grey);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
$my-theme: mat-dark-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);


@include angular-material-theme($my-theme);